@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Ubuntu&display=swap");
.suggested-people.to-follow-section.drawer-section div {
  width: 30%;
}

.post-body-landing-page {
  margin: 0;
  margin-right: 24%;
}
.notico-post {
  width: 132%;
}
@media (max-width: 860px) {
  .suggested-people.to-follow-section.drawer-section div {
    display: none;
  }
  .posts-container {
    margin: 0 2%;
  }
  .post-body-landing-page {
    margin: 0;
    margin-right: 2%;
  }
  .notico-post {
    width: 102%;
  }
}
.notico-header {
  font-family: "Epilogue", sans-serif;
}
.suggested-users-icons {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
.cta-drawers-link.color-white{
  color: #ffffff;
}
/* user profile */
/* .profile-badge{
  display: flex;
  margin: 0;
  width: 150%;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
} */

/* follow button landing page */
.follow-button-landing-page {
  position: absolute;
  z-index: 9999999;
  margin-left: 2rem !important;
  /* important was used to override prebuilt classes . More than 5 inbuilt classes were used for styles */
  padding: 0 !important;
  padding: 8px 12px !important;
  background-color: #ffffff !important;
  color: #0000ff !important;
  border: 2px solid rgb(54, 54, 223) !important;
  border-radius: 8px !important;
}
.cta-drawers-link {
  color: #000000;
  text-decoration: none;
}
