.footer-container{
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    bottom: 0;
    padding: 5%;
}
.logo{
    margin-top: 1rem;
    margin-left: 2%;
}
.social-media{
    display: flex;
}
.MuiSvgIcon-root{
    margin-left: 5%;
}