.profile-header-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.img-circle-user {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
.header-container {
  border-bottom: 2px solid black;
}
.post-body-unique-page {
  margin-top: 2rem;
}
.username-profile-page{
    margin-left: 1rem;
}